body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  }

*,
::before,
::after {
  box-sizing: border-box;
}
h1{
  white-space: nowrap;
}
/* p{
  white-space: pre-wrap;
} */

/* .scroll_view{
    width: 100%;
    top: 0;
    scroll-behavior: smooth;
    left: 0;
    position: fixed;
    display: flex;
} */
.home_section{
    overflow-x: hidden;
    min-height: 825px;
    background-color: black;
    justify-content: center;
    align-items: center;
    
}
nav{
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(111.68deg, rgba(235, 227, 227, 0.29) 7.59%, rgba(36, 36, 36, 0.39) 102.04%);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
/* Note: backdrop-filter has minimal browser support */
}
nav img{
  width: 55px;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
nav div{
  display: flex;
  justify-content: end;
  
  align-items: center;
  padding: 17.5px 102px 17.3px 60px;
}

nav div .off a{
  text-decoration: none;
  color: #FAFAFA;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
  margin: 0 0 0 55px;
}


nav div .off a:hover{
  color: #FF7E21;
  font-size: 20px;
  font-weight: 600;

}
nav div .on{
  color: #FF7E21;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  margin: 0 0 0 55px;
}

.content_home{
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 50px;
}
.background{
  color: #000;
margin: 0;
position: absolute;
left: 6%;
white-space: nowrap;
top: 150px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 350px;
text-transform: lowercase;
-webkit-text-stroke: 1px rgba(255, 255, 255, 50%);
}
.background-home{
  white-space: nowrap;
  color: black;
margin: 0;
position: absolute;
left: 6%;
top: 150px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 350px;
text-transform: lowercase;
-webkit-text-stroke: 1px rgba(255, 255, 255, 50%);
}
.content_home .title{
position: absolute;
left: 12%;
top: 275px;
font-family: Poppins;
font-weight: 500;
font-size: 60px;
line-height: 170%;
text-transform: capitalize;
color: #7E7E7E;
}
.content_home .title span{
    color: white;
}
.content_home img{
margin: 0px;
width: 101px;
height: auto;
font-family: Poppins;
font-size: 40px;
font-weight: 400;
text-transform: lowercase;
color: #FFFFFF;
}

.content_home .side{
    z-index: 999;
    position: fixed;
    color: white;
    top: 25%;
    left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_home .side p{
    margin-top: 50px;
    font-weight: 300;
    margin-bottom: 50px;
    transform: rotate(-90deg);
}

.ticker{
    width: 100%;
    z-index: 1;
    display: flex;
    position: absolute;
    left: -20px;
    transform: rotate(-10deg);
    top: 575px;
  }

.ticker div{
  animation: animate 10s linear infinite;
  padding: 10px;
  color: #fff; 
  font-size: 4em;
  background: #212121;
  font-weight: 400;
  font-size: 30px;
  white-space: nowrap;
  text-transform: uppercase;
  /* animation: animate 5s linear infinite; */
}
.lurusin{
  display: flex;
}
.second{
  width: 100%;
  display: flex;
  position: absolute;
  left: -20px;
  transform: rotate(35deg);
  top: -100px;
}
.second div{
  animation: animate2 10s linear infinite;
  padding: 10px;
  color: black; 
  font-size: 4em;
  background: white;
  font-weight: 400;
  
  font-size: 30px;
  white-space: nowrap;
  text-transform: uppercase;
  /* animation: animate 5s linear infinite; */
}


/* .second{
    position: absolute;
    right: -100;
    animation: animate 20s linear;
    bottom: 83%;
    font-size: 27px;
    width: 120%;
    transform: rotate(37deg);
    text-align: center;
    background: white;
  }
  .ticker div{
      justify-content: center;
      font-size: 25px;
      padding: 20px;
      display: flex;
    font-family: Poppins;
      font-weight: 400;
      color: white;
  }
  .second div {
    justify-content: center;
    font-size: 25px;
    padding: 20px;
    display: flex;
  font-family: Poppins;
    font-weight: 400;
    color: black;
} */

.second div span{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #FF7E21;
    height: 16px;
    margin-top: 8px;
    display: flex;
    width: 16px;
    border-radius: 999px;
}
  .ticker div span{
  
    margin-left: 50px;
    margin-right: 50px;
    background-color: #FF7E21;
    height: 16px;
    width: 16px;
    border-radius: 999px;
    margin-top: 8px;
} 
@keyframes animate{
  0%{
      transform:  translateX(0%);
  }
  100%{
      transform:  translateX(-90%);
  }
}

@keyframes animate2{
  0%{
      transform:  translateX(-90%);
  }
  100%{
      transform:  translateX(0%);
  }
}
.contents_section{
    background-color: #000;
    min-height: 830px;
    margin-top: -18px;
}
  /* .contents_section .side{
    position: absolute;
    color: white;
    left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents_section .side p{
    margin-top: 50px;
    font-weight: 300;
    margin-bottom: 50px;
    transform: rotate(-90deg);
} */

.contents_section .background {
  white-space: nowrap;
    margin: 0;
    position: absolute;
    left: 8%;
    color: #000;
    z-index: 1;
    top: 1055px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 250px;
    text-transform: lowercase;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 30%);
}
.list{
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: flex-start;
  margin-left: 110px;
}
.list .title{
margin: 0;
font-family: Poppins;
font-weight: 400;
font-size: 30px;
line-height: 190%;
/* or 66px */
text-transform: uppercase;

color: #FFFFFF;

letter-spacing: 2%;
}

.list .garis{
  height: 200px;
  width: 2px;
  background-color: white;
  margin-right: 50px;
}

.list .name{
font-family: Poppins;
font-weight: 700;
margin-top: 100px;
font-size: 45px;
text-transform: uppercase;
letter-spacing: 2%;
color: #CBCBCB;

}

.list p{
font-family: Poppins;
font-weight: 300;
font-size: 22px;
max-width: 760px;
line-height: 190%;
/* or 55px */
letter-spacing: 0.02em;
text-transform: capitalize;

color: #CBCBCB;


}
.details{
  display: flex;
  flex-direction: column;
}
.sub_details{
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}
.sub_details img{
  display: flex;
  width: 500px;
  margin-right: 100px;
  height: auto;
}

.sub_details p{
font-weight: 300;
font-size: 19px;
min-width: 380px;
max-width: 380px;
line-height: 190%;
/* or 55px */
letter-spacing: 0.02em;
text-transform: capitalize;

color: #CBCBCB;
}
.background-1{
  color: #000;
  margin: 0;
  position: absolute;
  left: 11%;
  z-index: 1;
  top: 1980px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 280px;
  text-transform: lowercase;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 30%);}
  .background-2{
    color: #000;
    margin: 0;
    position: absolute;
    left: 11%;
    z-index: 1;
    top: 2670px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    text-transform: lowercase;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 30%);}

    .background-3{
      color: #000;
      margin: 0;
      position: absolute;
      left: 11%;
      z-index: 1;
      top: 3350px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 280px;
      text-transform: lowercase;
      -webkit-text-stroke: 1px rgba(255, 255, 255, 30%);}

      .skill_section{
        background-color: #000;
        margin-top: -18px;
      }
.experience_section{
  background-color: #000;
  margin-top: -60px;
  
}

.exp_image{
  display: flex;
  flex-direction: row;
  
}
.exp_top{
  margin-right: -100px;
}
.exp_top .top, .exp_bot .top{
  margin-bottom: 100px;
}
.exp_image img{
  width: 420px;
  height: auto;
}
.experience_section .background{
  top: 4620px;
  font-size: 240px;
}
.experience_section .background-2{
  top: 5650px;
  left: 90px;
  font-size: 240px;
}

.experience_section .list .school{
font-weight: 300;
font-size: 24px;
margin: 0;
font-style: italic;
line-height: 38px;
margin-top: 10px;
color: #D2D1D1;
margin-bottom: 60px;


}
.experience_section .list .school{
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  font-style: italic;
  line-height: 38px;
  margin-top: 10px;
  color: #D2D1D1;
  margin-bottom: 60px;
  
  
  }
.experience_section .list .name{
  font-size: 30px;
  color: #BDBCBC;
  font-weight: 600;
  margin-bottom: 0;
}
.experience_section p{
  font-size: 20px;
  max-width: 579px;
  line-height: 190%;
  margin-top: 60px;
}
.exp_book{
  position: relative;
  z-index: 2;
  margin-top: 100px;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 100px 100px 100px 210px;
}
.book_content h1{
font-family: Poppins;
font-weight: 500;
font-size: 32px;
color: #BDBCBC;

}
.book_content p{
font-family: Poppins;
max-width: 440px;
font-size: 20px;
font-weight: 300;
line-height: 190%;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #CBCBCB;
margin-top: 100px;
}
.exp_book img{
  width: 433.38px;
  height: auto;
  margin-top: 20px;
}
.exp_book .button{
width: 240px;
height: 61.09px;
background: #373737;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 60px;
transition: 0.5s;
cursor: pointer;
}
.exp_book .button:hover{
  transform: scale(1.1);
  }
.exp_book .sub_button{
  display: flex;
justify-content: center;
align-items: center;
width: 214.55px;
height: 37.09px;
background: #282727;
border-radius: 20px;

}
.sub_button h1{
  font-size: 20px;
  font-weight: 400;
}
footer{
  background-color: black;

}

footer .content{
  display: flex;
  flex-direction: column;
}
footer .social{
  align-items: center;
  display: flex;
  padding: 50px 50px 40px 100px;
  width: 100%;
  background: #171717;
}

footer .social div{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 0 20px;
  color: #CBCBCB;
  flex-direction: column;
  transition: 0.2s;
}
footer .social div h1{
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}
a{
  text-decoration: none;
}

footer .social div:hover{
  filter:  sepia(60%) saturate(4000%) hue-rotate(0deg)  ;
}
footer .social article:hover{
  filter:  sepia(60%) saturate(4000%) hue-rotate(0deg)  ;
   
}
footer .social div img{
  width: 50px;
  height: 50px;
  margin-bottom: 3px;
}
footer .connect{
  width: 156px;
  z-index: 3;
  height: auto;
  position: absolute;
  left: 610px;
  margin: 100px;
}
.connect_text{
font-family: Poppins;
font-style: normal;
margin-left: 20px;
padding: 0px 50px 0px 100px;
font-weight: 600;
font-size: 150px;
line-height: 120%;
letter-spacing: 0.02em;
white-space: nowrap;
width: max-content;
cursor: pointer;
text-transform: uppercase;
transition: 0.2s;
color: #CBCBCB;
}

.connect_text:hover{
  color: white;
  }


.contact .telpon, .email{
  font-size: 25px;
  width: 100%;
  color: #CBCBCB;
  transition: 0.5s;
  text-align: right;
  font-weight: 400;
}

.contact .telpon{
  margin-bottom: -0.1px;
}
.contact{
  margin-left: 150px;
}

footer .backgrounds{
white-space: nowrap;
color: black;
margin: 0;
position: absolute;
font-family: Poppins;
font-size: 210px;
font-weight: 500;
margin-top: 275px;
margin-left: 70px;
text-transform: lowercase;
-webkit-text-stroke: 1px rgba(255, 255, 255, 30%);
}
.zindex{
  z-index: 3;
}

.more_section{
  background-color: #000000;
}

.more_section .contents{
  height: 100%;
  flex-direction: column;
  display: flex;
  padding: 140px;
  align-items: center;
}

.more_section .contents .title{
  color: white;
  font-family: Poppins;
  font-weight: bold;
  width: 85%;
  font-size: 90px;

  letter-spacing: 0.05em;

}
.more_section .cards{
  display: flex;
}
.more_section .contents .title span{
  color: transparent;
  font-family: Poppins;
  font-weight: bold;
  font-size: 90px;

  letter-spacing: 0.05em;
  -webkit-text-stroke: 3px rgba(255, 126, 33, 100%)
}

.more_section .contents .projects img, .certificate img {
 width: 400px;
 height: auto;
}

.more_section .projects{
  margin-right: 180px;
  color: #BDBCBC;
  display: flex;
  /* height: 600px;
  width: 500px; */

  /* background-color: transparent; */
  transition: 0.5s;
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
}
/* .more_section .projects:hover{
  color: white;
  background-color: #BDBCBC;
} */
.more_section .certificate{
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #BDBCBC;
}

.more_section .certificate h1, .projects h1{
  margin: 0;
  margin-top: 20px;
  font-size: 33px;
  font-weight: 500;
}

.more_section .certificate p, .projects p{
  font-size: 18px;
  margin-top: 15px;
  font-weight: 400;
}


/*button cssio*/

button {
  -webkit-user-drag: none;
  position: absolute;
  padding: 20px 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  top: 655px;
  right: 10%;
 }
 
 button span {
  position: relative;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  z-index: 1;
 }
 
 button .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #FF7E21;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
 }
 button:hover{
  transform: scale(1.1);
  border: white 1.2px solid;
 }
 button:active{
   transform: scale(1);
 }
 button .liquid::after,
 button .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #fff;
 }
 
 button .liquid::before {
  border-radius: 45%;
  background: rgba(203, 203, 203, 1);
  animation: button 5s linear infinite;
 }
 
 button .liquid::after {
  border-radius: 40%;
  background: rgba(203, 203, 203, .5);
  animation: button 10s linear infinite;
 }
 
 button:hover .liquid {
  top: -120px;
 }
 
 @keyframes button {
  0% {
   transform: translate(-50%, -75%) rotate(0deg);
  }
 
  100% {
   transform: translate(-50%, -75%) rotate(360deg);
  }
 }

.view-book{
  position: absolute;
  left: 200px;
  margin-top: -80px;
}

.home_section2{
  padding: 0px 170px;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: black;
  flex-direction: column;
  align-items: center;
  
}

.upper .line{
    width: 2px;
    margin-right: 40px;
    height: 150px;
    background-color: white;
}

.home_section2 .upper_text{
    display: flex;
    flex-direction: column;
    
}

.home_section2 .upper_text p{
    color: #CBCBCB;
    max-width: 400px;
    line-height: 180%;
    font-weight: 400;
    font-size: 19px;
}
.home_section2 .upper_text h1{
    margin-bottom: 60px;
    letter-spacing: 2%;
    color: white;
    font-weight: 400;
    font-size: 29px;
}

.upper{
    display: flex;
    width: 100%;
    justify-content: left;
    margin-bottom: 150px;
    margin-top: 100px;
}
.content-certi div{
  position: relative;
  flex-shrink: 0;
  display: flex;
  z-index: 10;
  margin-bottom: 200px;
}

.content-certi div img{
    width: 539px;
    height: 331px;
    height: auto;
    margin-right: 90px;
}

.content-certi div p{
    max-width: 500px;
    min-width: 500px;
    color: #CBCBCB;
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins;
    line-height: 190%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
.content-certi h1{
  font-size: 33px;
  color: #BDBCBC;
  margin-bottom: 115px;
  font-weight: 500;
  margin-top: 0;
}
.quotes{
font-family: Poppins;
font-style: italic;
font-weight: 500;
font-size: 30px;
margin-right: 50px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #CBCBCB;
padding-bottom: 130px;
}

.bottom{
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.bottom h1{
font-style: italic;
font-weight: 500;
font-size: 20px;
width: 50%;
text-align: center;
letter-spacing: 0.02em;
margin-left: -25px;
text-transform: capitalize;
color: #CBCBCB;
}
.bottom .line{
  width: 458px;
  height: 1px;
  background-color: white;

}

.bg-exp{
top: 6120px;
left: 70px;
position: absolute;
font-size: 160px;
text-transform: lowercase;
-webkit-text-stroke: 1px  rgba(255, 255, 255, 40%);
}

.bg-exp h1{
  font-weight: 400;
}

@media (max-width: 768px) {
nav img{
  width: 50px;
}
nav div .on{
  font-size: 20px;
}

nav div .off a {
  font-size: 20px;

}
nav div {
  padding: 17.5px 50px 17.3px 60px;
}
.contents_section .background {
    white-space: nowrap;
    margin: 0;
    position: absolute;
    left: 5%;
    color: #000;
    z-index: 1;
    top: 1115px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 180px;
    text-transform: lowercase;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 30%);
}
.list{
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: flex-start;
  padding-right: 50px;
  margin-left: 0;
}
.list .title{
margin: 0;
font-family: Poppins;
font-weight: 400;
font-size: 30px;
line-height: 190%;
/* or 66px */
text-transform: uppercase;

color: #FFFFFF;

letter-spacing: 2%;
}

.list .garis{
  height: 200px;
  width: 2px;
  background-color: white;
  margin-right: 50px;
}

.list .name{
font-family: Poppins;
font-weight: 700;
margin-top: 100px;
font-size: 40px;
text-transform: uppercase;
letter-spacing: 2%;
color: #CBCBCB;

}

.list p{
  font-family: Poppins;
  font-weight: 300;
  font-size: 20px;
  max-width: 974px;
  line-height: 200%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #CBCBCB;
}
.side{
  visibility: hidden;
}

.skill_section .list .details .sub_details{
  flex-direction: column;
}
.sub_details img{
  margin-right: 0;
  margin-bottom: 20px;
}

.experience_section .exp_image img{
  width: 250px;
}

.experience_section .exp_image .exp_top{
  margin-right: 0;}

.exp_book{
  flex-direction: column-reverse;
  padding: 50px;
}
.book_content p{
  margin-top: 70px;
}
.book_content h1{
  margin-top: 70px;
}

.view-book{
  position: absolute;
  left: 50px;
  margin-bottom: 0;
  margin-top: 400px;
}
.home_section2{
  padding-right: 0;
  padding-left: 50px;
}
.content-certi{
  padding-top: 130px;
}
.content-certi div{
  flex-direction: column;
}
.content-certi div img{
  margin-bottom: 50px;
}
.content-certi div h1{
  margin-bottom: 50px;
  font-size: 30px;
}
.bottom .line{
  width: 100px;
}
.bottom .line:first-child{
  margin-right: 30px;
}
.bottom{
  justify-content: center;
  margin-right: 50px;
}

#logo{
  width: 120px;
  left: 420px;
  position: absolute;
  margin-left: 0;
  margin: 0;
  margin-top: 50px;
}
.zindex .connect_text{
  padding: 0;
  margin-left: 50px;
  font-size: 100px;
}
.zindex .social{
  padding-left: 0;
  margin-bottom: -10px;
  padding-top: 30px;
  padding-right: 0;
  padding: 30px 20px 20px 20px;
  padding-bottom: 20px;
}
.zindex .social div img{
  width: 30px;
}
.zindex .social div h1{
  font-size: 13px;
}

.zindex .social div{
  margin: 0 15px;
}
footer .contact{
  margin-left: 20px;
  margin-bottom: -12px;
}
.contact .telpon{
  font-size: 10px;
  margin-bottom: 20px;
}
.contact .email{
  margin-bottom: 0;
  font-size: 10px;
}
.content .backgrounds{
  font-size: 105px;
  margin-left: 25px;
  margin-top: 210px;
}
.contents_section .background{
  font-size: 130px;
  top: 1100px;
}
.skill_section .background-1{
  font-size: 150px;
  top: 2410px;
  left: 50px;
}
.skill_section .background-2{
  font-size: 150px;
  top: 3420px;
  left: 50px;
}
.skill_section .background-3{
  font-size: 150px;
  top: 4395px;
  left: 50px;
}
.background-home{
  font-size: 230px;
  top: 220px;
}
.experience_section .background-2{
  font-size: 115px;
  top: 6930px;
  left: 50px;
}
.experience_section .background{
  font-size: 115px;
  top: 6930px;
  left: 50px;
}
.home_section2 .bg-exp{
  top: 7800px;
  left: 50px;
}
.home_section2 .bg-exp h1{
  font-size: 115px;
}
.experience_section .background{
  top: 5440px;
}
.home_section2 .bg-exp h1:nth-child(2){
  margin-top: 686px;
}
.home_section2 .bg-exp h1:nth-child(3){

  margin-top: 710px;
}
.home_section2 .bg-exp h1:nth-child(4){
  margin-top: 735px;
}
.home_section2 .bg-exp h1:nth-child(5){
  margin-top: 680px;
}
.home_section2 .bg-exp h1:nth-child(6){
  margin-top: 670px;
}

.home_section .title{
  font-size: 37px;
  left: 10%;
  top: 300px;
}
.ticker{
  transform: rotate(-18deg);
}
.second{
  transform: rotate(40deg);
}
.home_section button{
  top: 700px;
}
}

@media (max-width: 700px) {
  nav div:nth-child(2){
    display: none;
  }
  .home_section .title{
    font-size: 33px;
    left: 10%;
    top: 290px;
  }
  .contact .telpon{
    font-size: 8px;
    margin-bottom: 20px;
  }
  .contact .email{
    margin-bottom: 0;
    font-size: 8px;
  }
  .zindex .social div img{
    width: 30px;
  }
  .zindex .social div h1{
    font-size: 10px;
  }
  
  .zindex .social div{
    margin: 0 15px;
  }
  footer .contact{
    margin-left: 70px;
    margin-bottom: -13px;
  }
  .content .backgrounds{
    font-size: 95px;
    margin-left: 25px;
    margin-top: 210px;
  }
  .contents_section .background{
    font-size: 115px;
    margin-top: 10px;
    top: 1100px;
  }
  .skill_section .background-1{
    font-size: 130px;
    top: 2410px;
    left: 50px;
  }
  .skill_section .background-2{
    font-size: 130px;
    top: 3420px;
    left: 50px;
  }
  .skill_section .background-3{
    font-size: 130px;
    top: 4395px;
    left: 50px;
  }
  .background-home{
    font-size: 200px;
    top: 220px
  }
  .experience_section .background-2{
    font-size: 100px;
    top: 6930px;
    left: 50px;
  }
  .experience_section .background{
    font-size: 100px;
    margin-top: 7px;
    left: 50px;
  }
  .home_section2 .bg-exp{
    top: 7800px;
    left: 50px;
  }
  .home_section2 .bg-exp h1{
    font-size: 105px;
    margin-top: 120px;
  }
  .experience_section .background{
    top: 5440px;
  }
}

@media (max-width: 650px) { 
  .contents_section .background{
    font-size: 18vw;
  }
  .sub_details img{
    width: 85vw;
    margin-right: 40px;
  }

  .list .garis{
    margin-right: 25px;
  }
  .experience_section .exp_image img {
    width: 40vw;
}
  .home_section .background-home{
    font-size: 32vw;
  }
  .list .name{
    font-size: 6vw;
  }
  .list .title{
    font-size: 5vw;
  }
  .list p{
    font-size: 3.5vw;
  }
  .home_section .title{
    font-size: 5vw;
    left: 10%;
    top: 290px;
  }
  .ticker{
    transform: rotate(-30deg);
  }
  .second{
    transform: rotate(45deg);
    
  }
  .home_section button{
    top: 700px;
    width: 170px;
    font-size: 10px;
  }
  }
