body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
h1, p{
    margin: 0;
}
html {
    scroll-behavior:smooth;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  }

*,
::before,
::after {
  box-sizing: border-box;
}

.home_section2{
    padding: 0px 120px;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    
}
nav{
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
background: linear-gradient(111.68deg, rgba(235, 227, 227, 0.29) 7.59%, rgba(36, 36, 36, 0.39) 102.04%);
backdrop-filter: blur(40px);
/* Note: backdrop-filter has minimal browser support */
}
nav img{
  width: 55px;
  height: auto;
  margin: 0;
  border-radius: 10px;
}
nav div{
  display: flex;
  justify-content: end;
  
  align-items: center;
  padding: 20px 102px 20px 60px;
}

nav div .off a{
  text-decoration: none;
  color: #FAFAFA;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
  margin: 0 0 0 55px;
}


nav div .off a:hover{
  color: #FF7E21;
  font-size: 20px;
  font-weight: 600;

}
nav div .on{
  color: #FF7E21;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  margin: 0 0 0 55px;
}
.upper .line{
    width: 2px;
    margin-right: 40px;
    height: 150px;
    background-color: white;
}

.home_section2 .upper_text{
    display: flex;
    flex-direction: column;
}

.home_section2 .upper_text p{
    color: #CBCBCB;
    max-width: 400px;
    line-height: 180%;
    font-weight: 400;
    font-size: 19px;
}
.home_section2 .upper_text h1{
    margin-bottom: 60px;
    letter-spacing: 2%;
    color: white;
    font-weight: 400;
    font-size: 29px;
}

.upper{
    display: flex;
    width: 100%;
    justify-content: left;
    margin-bottom: 150px;
    margin-top: 100px;
}
.content-certi div{
  position: relative;
  flex-shrink: 0;
    display: flex;
    z-index: 10;
    margin-bottom: 200px;
    align-items: center;
}

.content-certi div img{
    width: 539px;
    height: 331px;
    height: auto;
    margin-right: 90px;
}

.content-certi div p{
    max-width: 500px;
    min-width: 500px;
    color: #CBCBCB;
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins;
    line-height: 190%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

.quotes{
font-family: Poppins;
font-style: italic;
font-weight: 500;
font-size: 30px;
margin-right: 50px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #CBCBCB;
padding-bottom: 130px;
}

.bottom{
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.bottom h1{
font-style: italic;
font-weight: 500;
font-size: 20px;
width: 50%;
text-align: center;
letter-spacing: 0.02em;
margin-left: -25px;
text-transform: capitalize;
color: #CBCBCB;
}
.bottom .line{
  width: 458px;
  height: 1px;
  background-color: white;

}
.backgroundc h1{
left: -1.5%;
font-family: Poppins;
font-style: normal;
font-weight: normal;
margin-bottom: 300px;
font-size: 250px;
text-transform: lowercase;
-webkit-text-stroke: 1px rgba(255, 255, 255, 50%);
}
.backgroundc{
  white-space: nowrap;
  position: absolute;
  top: 0;
  margin-top: 1295px;
}

.home_section{
  overflow-x: hidden;
  min-height: 825px;
  background-color: black;
  justify-content: center;
  align-items: center;
  
}

.home_section nav img{
width: 55px;
height: auto;
margin: 0;
border-radius: 10px;
}
.home_section nav div{
display: flex;
justify-content: end;
align-items: center;
padding: 20px 102px 20px 60px;
}

.home_section nav div .off a{
text-decoration: none;
color: #FAFAFA;
font-size: 20px;
cursor: pointer;
transition: 0.2s;
font-weight: 600;
margin: 0 0 0 55px;
}

.home_section nav div .off a:hover{
color: #FF7E21;
font-size: 20px;
font-weight: 600;

}
.home_section nav div .on{
color: #FF7E21;
font-size: 22px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-weight: 600;
margin: 0 0 0 65px;
}

.content_home{
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 50px;
}
.background{
color: #000;
margin: 0;
position: absolute;
left: 6%;
white-space: nowrap;
top: 150px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 350px;
text-transform: lowercase;
-webkit-text-stroke: 1px rgba(255, 255, 255, 50%);
}
.background-home{
white-space: nowrap;
color: black;
margin: 0;
position: absolute;
left: 6%;
top: 230px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 260px;
text-transform: lowercase;
-webkit-text-stroke: 1px rgba(255, 255, 255, 50%);
}
.content_home .title{
position: absolute;
left: 20%;
top: 320px;
font-family: Poppins;
font-weight: 400;
font-size: 70px;
line-height: 170%;
text-transform: capitalize;
color: #7E7E7E;
}
.content_home .title span{
  color: white;
}
.content_home img{
margin: 0px;
width: 101px;
height: auto;
font-family: Poppins;
font-size: 40px;
font-weight: 400;
text-transform: lowercase;
color: #FFFFFF;
}

.content_home .side{
  z-index: 999;
  position: fixed;
  color: white;
  top: 25%;
  left: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_home .side p{
  margin-top: 50px;
  font-weight: 300;
  margin-bottom: 50px;
  transform: rotate(-90deg);
}

.ticker{
  width: 100%;
  z-index: 1;
  display: flex;
  position: absolute;
  left: -20px;
  transform: rotate(-9deg);
  top: 605px;
}

.ticker div{
animation: animate 10s linear infinite;
padding: 10px;
color: #fff; 
font-size: 4em;
background: #212121;
font-weight: 400;
font-size: 30px;
white-space: nowrap;
text-transform: uppercase;
/* animation: animate 5s linear infinite; */
}
.lurusin{
display: flex;
}
.second{
width: 100%;
display: flex;
position: absolute;
left: -20px;
transform: rotate(25deg);
top: -80px;
}
.second div{
animation: animate2 10s linear infinite;
animation-delay: -2s;
padding: 10px;
color: black; 
font-size: 4em;
background: white;
font-weight: 400;

font-size: 30px;
white-space: nowrap;
text-transform: uppercase;
/* animation: animate 5s linear infinite; */
}

.second div span{
  margin-left: 50px;
  margin-right: 50px;
  background-color: #FF7E21;
  height: 16px;
  margin-top: 8px;
  display: flex;
  width: 16px;
  border-radius: 999px;
}
.ticker div span{

  margin-left: 50px;
  margin-right: 50px;
  background-color: #FF7E21;
  height: 16px;
  width: 16px;
  border-radius: 999px;
  margin-top: 8px;
} 
@keyframes animate{
  0%{
      transform:  translateX(0%);
  }
  100%{
      transform:  translateX(-90%);
  }
}

@keyframes animate2{
  0%{
      transform:  translateX(-90%);
  }
  100%{
      transform:  translateX(0%);
  }
}

footer{
  background-color: black;
}

footer .content{
  display: flex;
  flex-direction: column;
}
footer .social{
  align-items: center;
  display: flex;
  padding: 50px 50px 40px 100px;
  width: 100%;
  background: #171717;
}

footer .social div{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 0 20px;
  color: #CBCBCB;
  flex-direction: column;
  transition: 0.2s;
}
footer .social div h1{
  font-size: 20px;
  font-weight: 400;
  margin: 13px 0;
}

footer .social div:hover{
  filter:  sepia(60%) saturate(4000%) hue-rotate(0deg)  ;
   
}
footer .social div img{
  width: 50px;
  height: 50px;
  margin-bottom: 3px;
}
footer .connect{
  width: 156px;
  z-index: 3;
  height: auto;
  position: absolute;
  left: 610px;
  margin: 100px;
}
.connect_text{
font-family: Poppins;
font-style: normal;
margin-left: 20px;
padding: 0px 50px 0px 100px;
font-weight: 600;
margin-bottom: 100px;
margin-top: 100px;
font-size: 150px;
line-height: 120%;
letter-spacing: 0.02em;
white-space: nowrap;
width: max-content;
cursor: pointer;
text-transform: uppercase;
transition: 0.2s;
color: #CBCBCB;
}

.connect_text:hover{
  color: white;
  }


.contact .telpon, .email{
  font-size: 25px;
  width: 100%;
  color: #CBCBCB;
  transition: 0.5s;
  text-align: right;
  font-weight: 400;
}

.contact .telpon{
  margin-bottom: -0.1px;
}
#kontak{
  margin-left: 150px;
}
a{
  text-decoration: none;
}
footer .backgrounds{
white-space: nowrap;
color: black;
margin: 0;
position: absolute;
font-family: Poppins;
font-size: 210px;
font-weight: 500;
margin-top: 275px;
margin-left: 70px;
text-transform: lowercase;
-webkit-text-stroke: 1px rgba(255, 255, 255, 30%);
}
.zindex{
  z-index: 3;
}
